body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

header {
    background-image: url('img/drips.png');
    background-size: cover;
    background-position: center bottom;
    height: 100px;
    padding-top: 15px;
    background-repeat: no-repeat;
    @include lg-screen {
    height: 200px;
  }
}

.grid-item {
    min-height: 180px;
    background-size: cover;
    margin-bottom: 15px;
    background-position: center;
    @include xlg-screen {
      min-height: 200px;
    }
}

.sm-padding {
  padding-left: 7px;
  padding-right: 7px;
}

.img1 {
    background-image: url('ProductImages/Banana_Split.jpg');
}

.logo {
    display: block;
    max-width: 150px;

    @include lg-screen {
      max-width: 250px;
      margin: 0 auto;
    }
}

.section-header {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.walnut-graphic, .bourse-graphic {
  border: 4px solid $brand-color;
  flex-basis: 100%;
  display: flex;
  justify-content: center;  
  padding-bottom: 30px;
  .button {
    align-self: flex-end;
  }
  @include lg-screen {
    min-height: 300px;
  }
}

.bourse-graphic {
  background: url('img/bourse.png') no-repeat center bottom;
  background-size: cover;
}

.walnut-graphic {
  background: url('img/walnut.png') no-repeat center;
  background-size: cover;
}

.location-header {
  background-color: $brand-color;
  flex-basis: 100%;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: 200;
}

.hero {
  //background-image: url('ProductImages/Banana_Split.jpg');
  background-size: cover;
  height: 500px;
  position: relative;
  background-attachment: fixed;
  @include lg-screen {
    height: 700px;
  }
}

.overlay {
  background-color: rgba(white, .8);
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 25px 0;
}

.order-categories, .instagram-feed {
  padding: $section-padding-mobile;
  @include lg-screen {
    padding: $section-padding;
  }
}

.locations, .order-categories {
  padding: $section-padding 0;
}

.order-categories {
  margin-top: $section-padding;
  .container {
    border-top: 1px solid #979797;
    padding-top: $section-padding;
  }
}

.order-category, .location {
  display: block;
  height: 300px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  h3 {
    font-size: 54px;
    font-weight: 200;
  }
}

.button {
  display: inline-block;
  padding: 9px 19px;
  vertical-align: middle;
  background-color: $ontray-blue;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid transparent;
  overflow: visible;
  border-radius: 100px;
  &:hover, &:visited, &:active {
    text-decoration: none;
    color: inherit;
  }
  &:hover, &:active {
    background-color: #1AB6F1;
  }
}

.order-category {
  @include transition(background-color);
  background-color: $brand-color;
  &:hover {
    background-color: tint($brand-color, 20%);
  }
  img {
    height: 40px;
    flex-basis: 100%;
    display: block;
    align-self: center;

    @include lg-screen {
      height: 70px;
    } 
  }
}

.instagram-feed {
  background-color: $light;
}

footer {
  padding-top: 24px;
  background-color: $brand-color;
  color: #fff;
}

.footer-header, .footer-summary {
  margin-bottom: 24px;
  text-align: center;
}

.footer-hairline {
  border-bottom: 1px solid #fff;
  @include lg-screen {
    max-width: 33.33333%;
    margin: 0 auto;
  }
}